.btn--action {
  cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    border: solid 1px transparent;
    border-radius: 3px;
    padding: 0.5em 1em;
    color: #ffffff;
    background-color: #0A98BF;
    font-weight: 600;
    width: auto;
}

.btn--action:hover {
  filter: saturate(150%);
}

.btn--action:active {
  filter: saturate(125%);
}
