.card {
  border-radius: 3px;
  border: 1px solid #e0ecef;
  background: #fff;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 25px;
  word-wrap: break-word;
}

.card__title {
  padding: 15px 25px 25px 25px;
  color: #0A98BF;
  font-weight: 600;
  font-size: 1.3rem;
}

.card__content {
  padding: 0 25px 25px 25px;
  display: flex;
  flex-direction: column;
}
